Makefile
build
/sample_defs
.DS_Store
coverage/
lcov/
osal_lcov/
*_coverage_base.info
*_coverage_test.info
*_coverage_total.info
*_lcov/
*_lcov_out.txt
*_test_results.txt
outputOnFailure.txt
cfe_ut_results.txt
cfe_lcov_summary.txt
cfe_lcov